<h2>Followings List</h2>
<ul class="list-group col-6">
  <% @followings.each do |fr| %>
  <li class="list-group-item"><a href="/user/<%= fr.id %>"><h3><%= fr.first_name + ' ' + fr.last_name %></h3></a></li>
  <% end %>   
</ul>