<form action="/posts" method="post">
  <input type="hidden" name="post[user]" value="<%= @user.id %>">
  <div>
    <label for="post_title">Title</label><br>
    <input type="text" name="post[title]" id="post_title">
  </div>
  <div>
    <label for="post_body">Body</label><br>
    <textarea name="post[body]" id="post_body"></textarea>
  </div>
  <input type="submit" value="Create">
</form>