ul{
  list-style-type: none;
}
body{
  background-color: #F3F8FF;
  position: relative;
  min-height: 100vh;
}
body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}
a{
  text-decoration: none;
  color: inherit;
}
.navbar-custom{
  background-color: #142850;
}
.footer{
  background-color: #151D3B;
  height: 50px;
  bottom: 0;
  color: white;
  width: 100%;
  position: absolute;
  text-align: end;
  padding: 10px;
}
.footer-text{
  margin-right: 20px;
  font-size: 18px;
}